/* * {
  border: 1px solid red;
} */

@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

body {
  background-image: url(./images/Black-Brick_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}


.App {
  text-align: center;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 100px;

}

.header-container {
  background-image: url(./images/Black-Brick_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  left: 0;
  position: fixed;
  width: 100%;
  top: 0;
}

.header h1 {
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 1rem 1rem 1rem;
  border: 0.2rem solid #fff;
  border-radius: .9rem;
  text-transform: uppercase;
  animation: flicker7 1.9s infinite alternate;
}

/* Animate neon flicker */
@keyframes flicker7 {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

    text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 2rem #bc13fe,
      0 0 4rem #bc13fe,
      0 0 6rem #bc13fe,
      0 0 8rem #bc13fe,
      0 0 10rem #bc13fe;

    box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #ff0055,
      inset 0 0 2rem #ff0055,
      0 0 4rem #ff0055,
      inset 0 0 4rem #ff0055;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}


.footer {
  /* position: fixed; */
  height: 100px;
}

.main-art-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 200px;
  background-image: url(./images/Black-Brick_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

.main-description-box,
.single-description-box {
  width: 60%;
  margin: 25px auto;
}

.single-art-box {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-top: 150px;
  background-image: url(./images/Black-Brick_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

.single-art-box h1 {
  width: 30%;
  margin: 30px auto;
}

.main-art-box h1,
.single-art-box h1 {
  font-size: 50px;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 3rem 4rem 3rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}

/* Animate neon flicker */
@keyframes flicker {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

    text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 2rem #f40,
      0 0 4rem #f40,
      0 0 6rem #f40,
      0 0 8rem #f40,
      0 0 10rem #f40;

    box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #08f,
      inset 0 0 2rem #08f,
      0 0 4rem #08f,
      inset 0 0 4rem #08f;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

.main-art-box img,
.founder-img {
  width: 300px;
  font-size: 50px;
  font-weight: 200;
  color: #fff;
  padding: 1.2rem 1.2rem 1.2rem;
  margin-top: 20px;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  animation: flicker2 4s infinite alternate;
}

/* Animate neon flicker */
@keyframes flicker2 {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {


    box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #83f52c,
      inset 0 0 2rem #83f52c,
      0 0 4rem #83f52c,
      inset 0 0 4rem #83f52c;
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}


.main-description-box,
.single-description-box {
  font-size: 20px;
  font-weight: 250;
  color: #fff;
  padding: 1.2rem 1.2rem 1.2rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  animation: flicker3 5s infinite alternate;
}

.main-description-box::-moz-selection {
  background-color: #ff0099;
}

.main-description-box::selection {
  background-color: #ff0099;
}

.main-description-box:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker3 {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {


    box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #ff0099,
      inset 0 0 2rem #ff0099,
      0 0 4rem #ff0099,
      inset 0 0 4rem #ff0099;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

.text {
  margin: 10px;
  font-size: 20px;
  text-shadow:
    -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem #ff6600,
    0 0 4rem #ff6600,
    0 0 6rem #ff6600,
    0 0 8rem #ff6600,
    0 0 10rem #ff6600;
}

.text-art {
  font-size: 25px;
  color: white;
  text-decoration: none;
  text-shadow:
    -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem #fe0000,
    0 0 4rem #fe0000,
    0 0 6rem #fe0000,
    0 0 8rem #fe0000,
    0 0 10rem #fe0000;
}

.text-art:hover {
  animation: flicker6 1s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  padding: 5px;
}

@keyframes flicker6 {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {


    box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #cfff04,
      inset 0 0 2rem #cfff04,
      0 0 4rem #cfff04,
      inset 0 0 4rem #cfff04;
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}


.single-images-box {
  width: 400px;
  align-items: center;
  font-size: 50px;
  font-weight: 200;
  color: #fff;
  padding: 1.2rem 1.2rem 1.2rem;
  margin-right: 200px;
  margin-top: 100px;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  animation: flicker4 4.5s infinite alternate;
}

.single-images-box img {
  width: 300px;
  border-radius: 5px;
  ;
}

/* Animate neon flicker */
@keyframes flicker4 {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {


    box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #6e0dd0,
      inset 0 0 2rem #6e0dd0,
      0 0 4rem #6e0dd0,
      inset 0 0 4rem #6e0dd0;
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

#image-box {}


.delete-button {
  background-color: black;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  /* animation: flicker5 4.5s infinite alternate; */
}

.delete-button:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: black;
  animation: flicker5 1s infinite alternate;
  color: black;
}


.delete-button:active {
  position: relative;
  top: 1px;
}

@keyframes flicker5 {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {


    box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #f3f315,
      inset 0 0 2rem #f3f315,
      0 0 4rem #f3f315,
      inset 0 0 4rem #f3f315;
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

@media only screen and (max-width: 600px) {

  .main-art-box h1 {
    font-size: 30px;
    /* display: flex; */
  }

  .single-art-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .single-art-box h1 {
    font-size: 30px;
    /* margin-left: -15px; */
  }

  .single-images-box {
    width: 60%;
    margin: 20px auto;
  }

  .single-images-box img {
    width: 250px;
    ;
  }
}